:root {
  // основные цвета
  --main-white: #fdfdfd;
  --dark-white: #f4f4f4;
  --light-gray: #dadada;
  --main-gray: #9c9c9c;
  --dark-gray: #595959;
  --main-black: #161616;
  --blue-accent: #22a0bc;
}
