@import './variables';
@import './zero';
@import './fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

body {
  background: var(#{--dark-white});
}
